Q1. Solution:

In [13]:
def arithmetic_operation(string):
  op1,op,op2=string.split()
  op1=int(op1)
  op2=int(op2)
  if op=="+":
    res=op1+op2
    return res
  elif op=="-":
    res=op1-op2
    return res
  elif op=="*":
    res=op1*op2
    return res
  elif op=="//":
    if op2!=0:
      res=op1//op2
      return res
    else :
      return -1
  else :
    raise ValueError("Enter operator as +,-,/,*")

In [19]:
print(arithmetic_operation("12 + 12"))
print(arithmetic_operation("12 - 12"))
print(arithmetic_operation("12 * 12"))
print(arithmetic_operation("12 // 0"))

24
0
144
-1

Q2 Solution

In [10]:

import math

def perimeter(points):
    # find the distances between the points
    d1 = math.sqrt((points[1][0] - points[0][0])**2 + (points[1][1] - points[0][1])**2)
    d2 = math.sqrt((points[2][0] - points[1][0])**2 + (points[2][1] - points[1][1])**2)
    d3 = math.sqrt((points[2][0] - points[0][0])**2 + (points[2][1] - points[0][1])**2)

    # return the sum of the sides
    return round((d1 + d2 + d3),2)

print(perimeter([ [15, 7], [5, 22], [11, 1] ]) == 47.08)
print(perimeter([ [0, 0], [0, 1], [1, 0] ]) == 3.41)
print(perimeter([ [-10, -10], [10, 10 ], [-10, 10] ]) == 68.28)

True
True
True

Q3 Solution:

In [32]:
from typing import List

def tallest_skyscraper(skyline: List[List[int]]) -> int:
    # Initialize the tallest height to 0
    tallest_height = 0
    
    # Iterate over each column of the skyline
    for col in zip(*skyline):
        # Count the number of buildings in the current column
        height = col.count(1)
        # Update the tallest height if necessary
        tallest_height = max(tallest_height, height)
    
    # Return the tallest height
    return tallest_height

skyline = [[0, 0, 0, 0, 0, 0],
           [0, 0, 0, 0, 1, 0],
           [0, 0, 1, 0, 1, 0],
           [0, 1, 1, 1, 1, 0],
           [1, 1, 1, 1, 1, 1]]

tallest_skyscraper(skyline)  # Returns 4

4

In [29]:
for i in zip(*skyline):
  print(i)

(0, 0, 0, 0, 1)
(0, 0, 0, 1, 1)
(0, 0, 1, 1, 1)
(0, 0, 0, 1, 1)
(0, 1, 1, 1, 1)
(0, 0, 0, 0, 1)

In [31]:
for i in skyline:
  print(i)

[0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 1, 0]
[0, 0, 1, 0, 1, 0]
[0, 1, 1, 1, 1, 0]
[1, 1, 1, 1, 1, 1]

Q4 Solution:

In [34]:
def bonus(days):
  # Threshold target for the bonus scheme
  threshold = 32
  
  # Calculate the bonus based on the number of days
  if days <= threshold:
    # No bonus if the employee has claimed 32 days or fewer
    bonus = 0
  elif days <= 40:
    # Bonus of SGD325 per day if the employee has claimed more than 32 days but fewer than 41 days
    bonus = (days - threshold) * 325
  elif days <= 48:
    # Bonus of SGD550 per day if the employee has claimed more than 40 days but fewer than 49 days
    bonus = (days - threshold - 8) * 550 + 8 * 325
  else:
    # Bonus of SGD600 per day if the employee has claimed 49 days or more
    bonus = (days - threshold - 8 - 7) * 600 + 8 * 325 + 7 * 550
    
  # Return the calculated bonus
  return bonus


b = bonus(15)
print(b) # 0

b = bonus(37)
print(b) # 1625

b = bonus(50)
print(b) # 8200

0
1625
8250

Q5 Solution:

In [21]:
def is_disarium(n: int) -> bool:
    # Convert the number to a string and find the length of the string
    str_n = str(n)
    length = len(str_n)
    
    # Compute the sum of the digits raised to their respective positions
    sum = 0
    for i, digit in enumerate(str_n):
        sum += int(digit)**(i+1)
    
    # Return whether the sum is equal to the original number
    return sum == n


print(is_disarium(175))  # Returns True
print(is_disarium(89))   # Returns True
print(is_disarium(564))  # Returns False

True
True
False