<a href="https://colab.research.google.com/github/Somesh140/iNeauron_FSDS_Assignments/blob/main/Interview_based_assesment/python/Q6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Using the data from Question 3, write code to analyze the data and answer the following questions 
Note 
1. Draw plots to demonstrate the analysis for the following questions for better visualizations.
2. Write code comments wherever required for code understanding
Insights to be drawn -
● Get all Pokemons whose spawn rate is less than 5%
● Get all Pokemons that have less than 4 weaknesses
● Get all Pokemons that have no multipliers at all
● Get all Pokemons that do not have more than 2 evolutions
● Get all Pokemons whose spawn time is less than 300 seconds.
Note - spawn time format is "05:32”, so assume “minute: second” format and perform the analysis.
● Get all Pokemon who have more than two types of capabilities

In [1]:
import requests
import json
import pandas as pd

# Function to download and convert data to Excel format
def download_and_convert_data(url, output_file):
    # Download the data from the URL
    response = requests.get(url)

    # Read the JSON data
    data = response.json()

    # Extract the required attributes from the data
    extracted_data = []
    for pokemon in data["pokemon"]:
        extracted_data.append({
            "id": pokemon["id"],
            "num": pokemon["num"],
            "name": pokemon["name"],
            "img": pokemon["img"],
            "type": ",".join(pokemon["type"]),
            "height": pokemon["height"],
            "weight": pokemon["weight"],
            "candy": pokemon.get("candy", ""),
            "candy_count": pokemon.get("candy_count", ""),
            "egg": pokemon.get("egg", ""),
            "spawn_chance": pokemon.get("spawn_chance", ""),
            "avg_spawns": pokemon.get("avg_spawns", ""),
            "spawn_time": pokemon.get("spawn_time", ""),
            "multipliers": ",".join(map(str, pokemon.get("multipliers") or [])),
            "weakness": ",".join(pokemon.get("weaknesses", [])),
            "next_evolution": pokemon.get("next_evolution", []),
            "prev_evolution": pokemon.get("prev_evolution", [])
        })

    # Create a DataFrame from the extracted data
    df = pd.DataFrame(extracted_data)

    # Save the DataFrame to Excel
    df.to_excel(output_file, index=False)

    print("Data converted and saved to", output_file)


# Test the function with the provided link
url = "https://raw.githubusercontent.com/Biuni/PokemonGO-Pokedex/master/pokedex.json"
output_file = "pokemon_data.xlsx"
download_and_convert_data(url, output_file)

Data converted and saved to pokemon_data.xlsx

#getting data from q3

In [6]:
pk=pd.read_excel("pokemon_data.xlsx")

In [4]:
pd.read_excel("pokemon_data.xlsx").head()

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weakness,next_evolution,prev_evolution
0,1,1,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"Grass,Poison",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,0.690,69.0,20:00,1.58,"Fire,Ice,Flying,Psychic","[{'num': '002', 'name': 'Ivysaur'}, {'num': '0...",[]
1,2,2,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"Grass,Poison",0.99 m,13.0 kg,Bulbasaur Candy,100.0,Not in Eggs,0.042,4.2,07:00,"1.2,1.6","Fire,Ice,Flying,Psychic","[{'num': '003', 'name': 'Venusaur'}]","[{'num': '001', 'name': 'Bulbasaur'}]"
2,3,3,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"Grass,Poison",2.01 m,100.0 kg,Bulbasaur Candy,NaN,Not in Eggs,0.017,1.7,11:30,NaN,"Fire,Ice,Flying,Psychic",[],"[{'num': '001', 'name': 'Bulbasaur'}, {'num': ..."
3,4,4,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,Fire,0.61 m,8.5 kg,Charmander Candy,25.0,2 km,0.253,25.3,08:45,1.65,"Water,Ground,Rock","[{'num': '005', 'name': 'Charmeleon'}, {'num':...",[]
4,5,5,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,Fire,1.09 m,19.0 kg,Charmander Candy,100.0,Not in Eggs,0.012,1.2,19:00,1.79,"Water,Ground,Rock","[{'num': '006', 'name': 'Charizard'}]","[{'num': '004', 'name': 'Charmander'}]"

In [8]:
#Get all Pokemons whose spawn rate is less than 5%
pokemon_spawn_less_than_5=pk[pk["spawn_chance"]<0.05]
pokemon_spawn_less_than_5.head()

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weakness,next_evolution,prev_evolution
1,2,2,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"Grass,Poison",0.99 m,13.0 kg,Bulbasaur Candy,100.0,Not in Eggs,0.0420,4.20,07:00,"1.2,1.6","Fire,Ice,Flying,Psychic","[{'num': '003', 'name': 'Venusaur'}]","[{'num': '001', 'name': 'Bulbasaur'}]"
2,3,3,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"Grass,Poison",2.01 m,100.0 kg,Bulbasaur Candy,NaN,Not in Eggs,0.0170,1.70,11:30,NaN,"Fire,Ice,Flying,Psychic",[],"[{'num': '001', 'name': 'Bulbasaur'}, {'num': ..."
4,5,5,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,Fire,1.09 m,19.0 kg,Charmander Candy,100.0,Not in Eggs,0.0120,1.20,19:00,1.79,"Water,Ground,Rock","[{'num': '006', 'name': 'Charizard'}]","[{'num': '004', 'name': 'Charmander'}]"
5,6,6,Charizard,http://www.serebii.net/pokemongo/pokemon/006.png,"Fire,Flying",1.70 m,90.5 kg,Charmander Candy,NaN,Not in Eggs,0.0031,0.31,13:34,NaN,"Water,Electric,Rock",[],"[{'num': '004', 'name': 'Charmander'}, {'num':..."
7,8,8,Wartortle,http://www.serebii.net/pokemongo/pokemon/008.png,Water,0.99 m,22.5 kg,Squirtle Candy,100.0,Not in Eggs,0.0340,3.40,07:02,1.4,"Electric,Grass","[{'num': '009', 'name': 'Blastoise'}]","[{'num': '007', 'name': 'Squirtle'}]"

In [14]:
#Get all Pokemons that have less than 4 weaknesses
pokemon_less_than_4_weakness=pk[pk["weakness"].apply(lambda x:len(x.split(","))<4)]
pokemon_less_than_4_weakness.head()

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weakness,next_evolution,prev_evolution
3,4,4,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,Fire,0.61 m,8.5 kg,Charmander Candy,25.0,2 km,0.2530,25.30,08:45,1.65,"Water,Ground,Rock","[{'num': '005', 'name': 'Charmeleon'}, {'num':...",[]
4,5,5,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,Fire,1.09 m,19.0 kg,Charmander Candy,100.0,Not in Eggs,0.0120,1.20,19:00,1.79,"Water,Ground,Rock","[{'num': '006', 'name': 'Charizard'}]","[{'num': '004', 'name': 'Charmander'}]"
5,6,6,Charizard,http://www.serebii.net/pokemongo/pokemon/006.png,"Fire,Flying",1.70 m,90.5 kg,Charmander Candy,NaN,Not in Eggs,0.0031,0.31,13:34,NaN,"Water,Electric,Rock",[],"[{'num': '004', 'name': 'Charmander'}, {'num':..."
6,7,7,Squirtle,http://www.serebii.net/pokemongo/pokemon/007.png,Water,0.51 m,9.0 kg,Squirtle Candy,25.0,2 km,0.5800,58.00,04:25,2.1,"Electric,Grass","[{'num': '008', 'name': 'Wartortle'}, {'num': ...",[]
7,8,8,Wartortle,http://www.serebii.net/pokemongo/pokemon/008.png,Water,0.99 m,22.5 kg,Squirtle Candy,100.0,Not in Eggs,0.0340,3.40,07:02,1.4,"Electric,Grass","[{'num': '009', 'name': 'Blastoise'}]","[{'num': '007', 'name': 'Squirtle'}]"

In [21]:
# Get all Pokemons that have no multipliers at all
pokemon_has_no_multipliers=pk[(pk["multipliers"].isna())]
pokemon_has_no_multipliers.head()

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weakness,next_evolution,prev_evolution
2,3,3,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"Grass,Poison",2.01 m,100.0 kg,Bulbasaur Candy,NaN,Not in Eggs,0.0170,1.70,11:30,NaN,"Fire,Ice,Flying,Psychic",[],"[{'num': '001', 'name': 'Bulbasaur'}, {'num': ..."
5,6,6,Charizard,http://www.serebii.net/pokemongo/pokemon/006.png,"Fire,Flying",1.70 m,90.5 kg,Charmander Candy,NaN,Not in Eggs,0.0031,0.31,13:34,NaN,"Water,Electric,Rock",[],"[{'num': '004', 'name': 'Charmander'}, {'num':..."
8,9,9,Blastoise,http://www.serebii.net/pokemongo/pokemon/009.png,Water,1.60 m,85.5 kg,Squirtle Candy,NaN,Not in Eggs,0.0067,0.67,00:06,NaN,"Electric,Grass",[],"[{'num': '007', 'name': 'Squirtle'}, {'num': '..."
11,12,12,Butterfree,http://www.serebii.net/pokemongo/pokemon/012.png,"Bug,Flying",1.09 m,32.0 kg,Caterpie Candy,NaN,Not in Eggs,0.0220,2.20,05:23,NaN,"Fire,Electric,Ice,Flying,Rock",[],"[{'num': '010', 'name': 'Caterpie'}, {'num': '..."
14,15,15,Beedrill,http://www.serebii.net/pokemongo/pokemon/015.png,"Bug,Poison",0.99 m,29.5 kg,Weedle Candy,NaN,Not in Eggs,0.0510,5.10,04:50,NaN,"Fire,Flying,Psychic,Rock",[],"[{'num': '013', 'name': 'Weedle'}, {'num': '01..."

In [31]:
import ast

In [36]:
#Get all Pokemons that do not have more than 2 evolutions
pokemon_less_than_two_evolutions=pk[pk["next_evolution"].apply(lambda x:len(ast.literal_eval(x)) if isinstance(ast.literal_eval(x), list) else 0)<=2]
pokemon_less_than_two_evolutions.head()

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weakness,next_evolution,prev_evolution
0,1,1,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"Grass,Poison",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,0.690,69.0,20:00,1.58,"Fire,Ice,Flying,Psychic","[{'num': '002', 'name': 'Ivysaur'}, {'num': '0...",[]
1,2,2,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"Grass,Poison",0.99 m,13.0 kg,Bulbasaur Candy,100.0,Not in Eggs,0.042,4.2,07:00,"1.2,1.6","Fire,Ice,Flying,Psychic","[{'num': '003', 'name': 'Venusaur'}]","[{'num': '001', 'name': 'Bulbasaur'}]"
2,3,3,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"Grass,Poison",2.01 m,100.0 kg,Bulbasaur Candy,NaN,Not in Eggs,0.017,1.7,11:30,NaN,"Fire,Ice,Flying,Psychic",[],"[{'num': '001', 'name': 'Bulbasaur'}, {'num': ..."
3,4,4,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,Fire,0.61 m,8.5 kg,Charmander Candy,25.0,2 km,0.253,25.3,08:45,1.65,"Water,Ground,Rock","[{'num': '005', 'name': 'Charmeleon'}, {'num':...",[]
4,5,5,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,Fire,1.09 m,19.0 kg,Charmander Candy,100.0,Not in Eggs,0.012,1.2,19:00,1.79,"Water,Ground,Rock","[{'num': '006', 'name': 'Charizard'}]","[{'num': '004', 'name': 'Charmander'}]"

In [50]:
# Get all Pokemons whose spawn time is less than 300 seconds.
pokemon_spawn_less_300=pk[pk["spawn_time"].str.split(":").apply(lambda x: x[0] if isinstance(x,list) else 0).astype(int)<5]
pokemon_spawn_less_300.head()

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weakness,next_evolution,prev_evolution
6,7,7,Squirtle,http://www.serebii.net/pokemongo/pokemon/007.png,Water,0.51 m,9.0 kg,Squirtle Candy,25.0,2 km,0.5800,58.00,04:25,2.1,"Electric,Grass","[{'num': '008', 'name': 'Wartortle'}, {'num': ...",[]
8,9,9,Blastoise,http://www.serebii.net/pokemongo/pokemon/009.png,Water,1.60 m,85.5 kg,Squirtle Candy,NaN,Not in Eggs,0.0067,0.67,00:06,NaN,"Electric,Grass",[],"[{'num': '007', 'name': 'Squirtle'}, {'num': '..."
10,11,11,Metapod,http://www.serebii.net/pokemongo/pokemon/011.png,Bug,0.71 m,9.9 kg,Caterpie Candy,50.0,Not in Eggs,0.1870,18.70,02:11,"3.55,3.79","Fire,Flying,Rock","[{'num': '012', 'name': 'Butterfree'}]","[{'num': '010', 'name': 'Caterpie'}]"
12,13,13,Weedle,http://www.serebii.net/pokemongo/pokemon/013.png,"Bug,Poison",0.30 m,3.2 kg,Weedle Candy,12.0,2 km,7.1200,712.00,02:21,"1.01,1.09","Fire,Flying,Psychic,Rock","[{'num': '014', 'name': 'Kakuna'}, {'num': '01...",[]
13,14,14,Kakuna,http://www.serebii.net/pokemongo/pokemon/014.png,"Bug,Poison",0.61 m,10.0 kg,Weedle Candy,50.0,Not in Eggs,0.4400,44.00,02:30,"3.01,3.41","Fire,Flying,Psychic,Rock","[{'num': '015', 'name': 'Beedrill'}]","[{'num': '013', 'name': 'Weedle'}]"

In [57]:
#Get all Pokemon who have more than two types of capabilities
pokemon_more_than_2_capabilities=pk[pk["type"].str.split(",").apply(len)>2]
pokemon_more_than_2_capabilities.head() # there seems to be no such pokemon

Empty DataFrame
Columns: [id, num, name, img, type, height, weight, candy, candy_count, egg, spawn_chance, avg_spawns, spawn_time, multipliers, weakness, next_evolution, prev_evolution]
Index: []