<a href="https://colab.research.google.com/github/Somesh140/iNeauron_FSDS_Assignments/blob/main/Data_Types_and_Type_Conversion_Programming_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Create a string with a name 'country' and 'India' as its elements . Perform the following:
 a.Find its length
 b. extract its first two letters

In [ ]:
s="country India"
len(s)
print(s[0],s[1])

c o

In [ ]:
s=('Country India')
print(s,'=',len(s),',',s[0:2],',',s[8:10])

Country India = 13 , Co , In

Q2. Write a program to perform following list operations on the list given below:

a. Check the length of mix_list_1 \
B. Concatenate the mix_list_1 and mix_list_2 \
C. Repeat the mix_list_2 three times

Lists to perform operations:

mix_list_1 = ['Learn', 24, 'Blue', False, -8]

mix_list_2 = [4, 7, 'Summer']

In [ ]:
mix_list_1 = ['Learn', 24, 'Blue', False, -8]
mix_list_2 = [4, 7, 'Summer']

print(len(mix_list_1))
mix_list_1.extend(mix_list_2)
print(mix_list_1)
print(mix_list_2*3)

5
['Learn', 24, 'Blue', False, -8, 4, 7, 'Summer']
[4, 7, 'Summer', 4, 7, 'Summer', 4, 7, 'Summer']

In [ ]:
#A- 
mix_list_1 = ['Learn', 24, 'Blue', False, -8]
mix_list_2 = [4, 7, 'Summer']
print(len(mix_list_1))

#B- 
mix_list_1=['Learn',24,'Blue',-8]
mix_list_2=[4,7,'Summer']
con=mix_list_1+mix_list_2
print(con)

#C- 
print(3*mix_list_2)

5
['Learn', 24, 'Blue', -8, 4, 7, 'Summer']
[4, 7, 'Summer', 4, 7, 'Summer', 4, 7, 'Summer']

Q3.  Write the program to multiply the two lists
Lists to perform multiplication:

num_list_1 = [1, 2, 3, 4]

num_list_2 = [0, 5, 2, 1]

In [ ]:
num_list_1 = [1, 2, 3, 4]

num_list_2 = [0, 5, 2, 1]

a=[num_list_1[i]*num_list_2[i] for i in range(len(num_list_1))]
print(a)

[0, 10, 6, 4]

Q4.  Write a code to retrieve elements from a list

a. First element \
b. Second last element\
c. First three elements\
d. Slice the list from 1st index till the last index with an increment of an index by 2\
Use the below list:

mix_list = ['Python', 1, 2, 3, 'Data', True]

In [ ]:
mix_list = ['Python', 1, 2, 3, 'Data', True]

print(mix_list[0])
print(mix_list[-2])
print(mix_list[0:3])
print(mix_list[0::2])

Python
Data
['Python', 1, 2]
['Python', 2, 'Data']

In [ ]:
#A- 
mix_list = ['Python', 1, 2, 3, 'Data', True]
print(mix_list[0])

#B- 
print(mix_list[4])
#Or 
print(mix_list[-2])

#C- 
print(mix_list[0:3])
 
#D- 
print(mix_list[0:6:2])

Python
Data
Data
['Python', 1, 2]
['Python', 2, 'Data']

Q5. Write a program to perform following built-in list operations:

a. Min(list)\
b. Max(list)\
c. Sort the elements (use sort() and sorted() function)\
d. Create a copy of a list\
e. Remove element '5' from the list\

Use the below list

num_list = [4, 5, 7, -2, 0, 1]

In [ ]:
num_list = [4, 5, 7, -2, 0, 1]

print(min(num_list))
print(max(num_list))
a=sorted(num_list)
print(a)
num_list.sort()
print(num_list)
num_list1=num_list.copy()
print(num_list1)
num_list1.remove(5)
print(num_list1)

-2
7
[-2, 0, 1, 4, 5, 7]
[-2, 0, 1, 4, 5, 7]
[-2, 0, 1, 4, 5, 7]
[-2, 0, 1, 4, 7]

In [ ]:
num_list.sort()

[4, 5, 7, -2, 0, 1]

Q6.Write a code to perform operations on tuple:

a. Check the length of num_tuple\
b. Concatenate the num_tuple and mix_tuple\
c. Repeat the mix_tuple two times \
Tuples to perform operations:\

num_tuple = (4, 4, 8) \

mix_tuple = 'John', 5, -2 \

In [ ]:
num_tuple = (4, 4, 8)

print(len(num_tuple))

mix_tuple= 'John', 5, -2

mix_tuple2=num_tuple+ mix_tuple
print(mix_tuple2)

print(mix_tuple*2)

3
(4, 4, 8, 'John', 5, -2)
('John', 5, -2, 'John', 5, -2)

Q7.Replace the elements in the given tuple:

a. Replace '2' with '3' \
b. Replace 'True' in first element with 'False' \
Use the tuple below:

mix_tuple = (['a', 1, True], 2, 'Science', -5)

In [ ]:
mix_tuple = (['a', 1, True], 2, 'Science', -5)

mix_tuple= mix_tuple[:1] + (3,) + mix_tuple[3:]

Q8.  Write the program to perform following manipulations:

a. Add '7' to the given set \
b. Remove '3' from a given set \
c. Clear the set \
Use the below set for manipulation \

num_set = {1, 2, 3, 4, 5, 6}

In [ ]:
num_set = {1, 2, 3, 4, 5, 6}
num_set.add(7)
print(num_set)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
num_set.remove(3)
print(num_set)

{1, 2, 4, 5, 6, 7}

In [ ]:
num_set.clear()
print(num_set)

set()

Q9.Write a program to perform following set operations:

a. Union \
b. Intersection \
c. Set of all the elements of set A that are not in set B \
d. Set of all the elements of set B that are not in set A \
e. Symmetric difference \
Use the below set: \

A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}

In [ ]:
A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}

In [ ]:
print(A.union(B))

{1, 2, 3, 4, 5, 6, 7, 40, 71, 8, 42, 51, 54, 87}

In [ ]:
print(A.intersection(B))

{3, 5, 6, 7}

In [ ]:
print(A-B)

{1, 2, 4, 71, 40, 87}

In [ ]:
print(B-A)

{8, 42, 51, 54}

In [ ]:
print(A.symmetric_difference(B))

{1, 2, 4, 71, 8, 40, 42, 51, 54, 87}

Q10. Write a code to add a key to a dictionary
Use the given dictionary and add a key (4:16)

square_dictionary = {1:1, 2:4, 3:9}

In [ ]:
square_dictionary = {1:1, 2:4, 3:9}

In [ ]:
square_dictionary[4]=16
print(square_dictionary)

{1: 1, 2: 4, 3: 9, 4: 16}

Q11..(i)Count the occurence of "me" in the given string below. \
(ii)Extract "python@gmail" \
string="Hello,please meet me at 4pm @coffeehouseccd or email me python@gmail.com"

In [ ]:

string="Hello,please meet me at 4pm @coffeehouseccd or email me python@gmail.com"
string.count("me")

3

In [ ]:
for i in string.split():
    if i.endswith(".com"):
        print(i.split(".")[0])

python@gmail

Q12.Extract '09' from this:
G=["2022-09-03"]

In [ ]:
G=["2022-09-03"]
G[0][5:7]

'09'

Q13.Extract 3000 from the given list
Y=[1,3,4,6,7,9,10, 4+7j, "Hello world", [2000,3000,1000]]

In [ ]:
Y=[1,3,4,6,7,9,10, 4+7j, "Hello world", [2000,3000,1000]]
Y[9][1]

3000

Q14.Can a list be converted into a set? Explain with the help of an example

In [ ]:
x=[5,7,8]
print(type(x))

y=set(x)
print(type(y))

<class 'list'>
<class 'set'>

Q15.Assume you have two lists a=[1,3,5,7] b=[2,4,6,8,10]  
i.First task is to create a list which has elements from both the list & name it 'ab'  
ii.Write a function which can reverse the elements of ab.

In [ ]:
a=[1,3,5,7]
b=[2,4,6,8,10]

In [ ]:
ab=a+b
print(ab)

[1, 3, 5, 7, 2, 4, 6, 8, 10]

In [ ]:
ab[::-1]

[10, 8, 6, 4, 2, 7, 5, 3, 1]