<a href="https://colab.research.google.com/github/Somesh140/iNeauron_FSDS_Assignments/blob/main/Dictionary_and_it's_comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q14:
Write a program to add multiple keys into dictionary;

dictt= {'person':{ "Name" : "Simulen", 
          "City" : "CA", 
          "Country" : "USA"}}

In [ ]:
dictt= {'person':{ "Name" : "Simulen", 
          "City" : "CA", 
          "Country" : "USA"}}

dictt['person']['Company'] = 'Morgan stanely'
print(dictt)

{'person': {'Name': 'Simulen', 'City': 'CA', 'Country': 'USA', 'Company': 'Morgan stanely'}}

Q15:
Convert string to dictionary ; \
stringg= ‘ekeeda’

In [ ]:
stringg='ekeeda'
temp= {}
for word in stringg:
    temp[word] = temp.get(word, 0) + 1
print(temp)

{'e': 3, 'k': 1, 'd': 1, 'a': 1}

In [ ]:
new_dict={}
for i in stringg:
  if i not in new_dict:
    new_dict[i]=1
  else :
    new_dict[i]+=1
print(new_dict)

{'e': 3, 'k': 1, 'd': 1, 'a': 1}

Q1:
Use dictionary comprehension to make dictionary from following keys and values given;

keys = ['E','K','E','E','D','A']
values = [1,2,3,4,5,6]

In [ ]:
keys = ['E','K','E','E','D','A']
values = [1,2,3,4,5,6]

In [ ]:
myDict={k:v for k,v in zip(keys,values)}
print(myDict)

{'E': 4, 'K': 2, 'D': 5, 'A': 6}

Q2:Write a Python program to add a key to a dictionary.
Dicti = {0:’a’, 1:’a’}

In [ ]:
Dicti = {0:'a' , 1:'a'}
Dicti[2]='a'
print(Dicti)

{0: 'a', 1: 'a', 2: 'a'}

Q3:
Write a program to concatenate the given dictionaries; \
dictt1={1:10, 2:20} \
dictt2={3:30, 4:40} \
dictt3={5:50,6:60} \

In [ ]:
dictt1={1:10, 2:20}
dictt2={3:30, 4:40}
dictt3={5:50,6:60}
dictt4={}
for d in (dictt1, dictt2, dictt3):
  dictt4.update(d)

print(dictt4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

Q4:
Create a dictionary having Values=key*key and keys ranging from 1 to n

In [ ]:
dict1={}
n=int(input("enter range integer"))
for i in range (1, n+1):
  dict1[i]=i*i
print(dict1)

enter range integer5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

Q5:
Write a Python program to convert given a dictionary to a list of tuples

In [ ]:
dictt1={1:10, 2:20}
list(dictt1.items())

[(1, 10), (2, 20)]

Q6:
Write a program to make dictionary ranging between keys 7-14(both excluded) and the values are square of the keys

In [ ]:
dict1={}
for i in range(8,14):
  dict1[i]=i*i
print(dict1)

{8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169}

Q7:
Write a program to create a dictionary containing some values and add all the value from that dictionary;

In [ ]:
dict1={1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
sum(dict1.values())

210

Q8:
From the dictionary given below, sort the elements based on the keys; \
dictt = {‘dh’:5, ‘ani’:6,’zimb’: 8}

In [ ]:
dictt = {'dh':5, 'ani':6,'zimb': 8}

dictt2={}
for i in sorted(dictt):
  dictt2[i]=dictt[i]
print(dictt2)

{'ani': 6, 'dh': 5, 'zimb': 8}

Q9:
Create a data for 2 students using dictionary and print it line by line;

In [ ]:
students = {'Aex':{'class':'V',
        'rolld_id':2},
        'Puja':{'class':'V',
        'roll_id':3}}
for a in students:
    print(a)
    for b in students[a]:
        print (b,':',students[a][b])

Aex
class : V
rolld_id : 2
Puja
class : V
roll_id : 3

Q10:
Print a dictionary with key values in a table manner;

dict_num = {1: ‘a’, 2: ‘b’, 3: ‘c’, 4: ‘d’, 5: ‘e’, 6: ‘f’}

In [ ]:
dict_num = {1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e', 6: 'f'}
for x,(y,z) in enumerate(dict_num.items()):
  print(x,y,z)

0 1 a
1 2 b
2 3 c
3 4 d
4 5 e
5 6 f

In [ ]:
for x,y in dict_num.items():
  print(x,y)

1 a
2 b
3 c
4 d
5 e
6 f

Q11:
Print the dictionary where we drop the empty value from the dictionary; \
	dict_num = {1: ‘a’, 2: ‘b’, 3: ‘c’, 4: ‘d’, 5: ‘e’, 6: None}

In [ ]:
dict_num = {1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e', 6: None}
dict1={k:v for k,v in dict_num.items() if v is not None }
print(dict1)

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}

Q12:
Check if there’s a particular value in a dict; \

dicttt = {'a': 100, 'b': 200, 'c': 300}

In [ ]:
dictt={'a':100,'b':200,'c':300}
if 200 in dictt.values():
  print (True)
else:
  print(False)

True

Q13:
Check the key for the minimum value in a dictionary;

In [ ]:
dictt = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
min(dictt)

'Math'