Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker
table.

 Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name
column ‘Amitabh’ from Worker table.

Q-3. Write an SQL query to print the name of employees having the highest salary in each
department.


1)
```
SELECT SUBSTRING(FIRST_NAME, 1, 3) AS FIRST_THREE_CHARS
FROM Worker;

#2
SELECT INSTR('Amitabh', 'a') AS POSITION_OF_A;

#3
SELECT w1.DEPARTMENT, w1.FIRST_NAME, w1.LAST_NAME, w1.SALARY
FROM Worker w1
WHERE w1.SALARY = (
  SELECT MAX(w2.SALARY)
  FROM Worker w2
  WHERE w2.DEPARTMENT = w1.DEPARTMENT
);

or 
#3
SELECT DEPARTMENT, FIRST_NAME, LAST_NAME, SALARY
FROM (
  SELECT DEPARTMENT, FIRST_NAME, LAST_NAME, SALARY,
         ROW_NUMBER() OVER (PARTITION BY DEPARTMENT ORDER BY SALARY DESC) AS RN
  FROM Worker
) w
WHERE RN = 1;

```