Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing
white spaces from the right side.

Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker
table and prints its length.

Q-3. Write an SQL query to fetch nth max salaries from a table.



```
# 1
SELECT RTRIM(FIRST_NAME) AS FIRST_NAME FROM Worker;

#2
SELECT COUNT(DISTINCT DEPARTMENT) AS DEPARTMENT_COUNT FROM Worker;

#3
SELECT DISTINCT Salary FROM Worker w1
WHERE n = (SELECT COUNT(DISTINCT Salary) FROM Worker w2 WHERE w2.Salary > w1.Salary)

```