<a href="https://colab.research.google.com/github/Somesh140/iNeauron_FSDS_Assignments/blob/main/SQl_Assignment/Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q-1. Write an SQL query to print the FIRST_NAME from Worker table after replacing ‘a’
with ‘A’.

Q-2. Write an SQL query to print all Worker details from the Worker table order by
FIRST_NAME Ascending and DEPARTMENT Descending.

Q-3. Write an SQL query to fetch the names of workers who earn the highest salary.


```
# 1
SELECT REPLACE(FIRST_NAME, 'a', 'A') AS FIRST_NAME FROM Worker;

#2

SELECT * FROM Worker ORDER BY FIRST_NAME ASC, DEPARTMENT DESC;

#3

SELECT FIRST_NAME, LAST_NAME FROM Worker
WHERE Salary = (SELECT MAX(Salary) FROM Worker);

```