<a href="https://colab.research.google.com/github/Somesh140/iNeauron_FSDS_Assignments/blob/main/SQl_Assignment/SQL10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit
method.

Q-20. Write an SQL query to fetch the list of employees with the same salary.

In [ ]:
#19
SELECT salary
FROM myTable t1
WHERE 5 = (
    SELECT COUNT(DISTINCT t2.salary)
    FROM myTable t2
    WHERE t2.salary >= t1.salary
);

In [ ]:
#20
SELECT *
FROM myTable
WHERE salary IN (
    SELECT salary
    FROM myTable
    GROUP BY salary
    HAVING COUNT(*) > 1
);