<a href="https://colab.research.google.com/github/Somesh140/iNeauron_FSDS_Assignments/blob/main/SQl_Assignment/SQL6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.

Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of
a table.

Q-3. How to remove duplicate rows from Employees table.

In [ ]:
#1
SELECT *
FROM Worker
WHERE MONTH(join_date) = 2 AND YEAR(join_date) = 2014;

In [ ]:
#2
SELECT field1, field2, COUNT(*)
FROM myTable
GROUP BY field1, field2
HAVING COUNT(*) > 1;

In [ ]:
#3
DELETE e1
FROM Employees e1, Employees e2
WHERE e1.id > e2.id AND e1.email = e2.email;

SELECT DISTINCT *
FROM Employees;