<a href="https://colab.research.google.com/github/Somesh140/iNeauron_FSDS_Assignments/blob/main/SQl_Assignment/SQL7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q-13. Write an SQL query to show only odd rows from aÂ table.

Q-14. Write an SQL query to clone a new table from another table.

In [ ]:
#13
SELECT *
FROM myTable
WHERE id % 2 = 1;

In [ ]:
#14
CREATE TABLE newTable LIKE oldTable;
INSERT INTO newTable SELECT * FROM oldTable;