<a href="https://colab.research.google.com/github/Somesh140/iNeauron_FSDS_Assignments/blob/main/SQl_Assignment/SQL8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q-15. Write an SQL query to fetch intersecting records of two tables.

Q-16. Write an SQL query to show records from one table that another table does not
have.

In [ ]:
#15
SELECT *
FROM table1
WHERE EXISTS (
  SELECT *
  FROM table2
  WHERE table2.column = table1.column
);

In [ ]:
#16
SELECT *
FROM table1
WHERE NOT EXISTS (
  SELECT *
  FROM table2
  WHERE table2.column = table1.column
);