<a href="https://colab.research.google.com/github/Somesh140/iNeauron_FSDS_Assignments/blob/main/SQl_Assignment/SQL9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q-17. Write an SQL query to show the top n (say 10) records of a table.

Q-18. Write an SQL query to determine the nth (say n=5) highest salary from a table.

In [ ]:
#17
SELECT *
FROM myTable
ORDER BY column DESC
LIMIT 10;

In [ ]:
#18
SELECT DISTINCT salary
FROM myTable
ORDER BY salary DESC
LIMIT 1 OFFSET 4;