<a href="https://colab.research.google.com/github/Somesh140/iNeauron_FSDS_Assignments/blob/main/Python_Basic_assignment/Assignment20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
file named test.txt.
2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?
3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992
4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).
5. Read books.csv and insert its data into the book table.
6. Select and print the title column from the book table in alphabetical order.
7. From the book table, select and print all columns in the order of publication.
8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.
9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for
test.
10. Increment the count field of test and print it.

In [1]:
#1 Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.
test1 = 'This is a test of the emergency text system,'
with open('test.txt', 'w') as f:
    f.write(test1)

In [2]:
#2Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?
with open('test.txt', 'r') as f:
    test2 = f.read()

print(test1 == test2)  # True

True

There is no difference between test1 and test2.

In [3]:
#3 Create a CSV file called books.csv 
import csv

data = [['title', 'author', 'year'],
        ['The Weirdstone of Brisingamen', 'Alan Garner', '1960'],
        ['Perdido Street Station', 'China Miéville', '2000'],
        ['Thud!', 'Terry Pratchett', '2005'],
        ['The Spellman Files', 'Lisa Lutz', '2007'],
        ['Small Gods', 'Terry Pratchett', '1992']]

with open('books.csv', 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerows(data)

In [4]:
#4Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).
import sqlite3

conn = sqlite3.connect('books.db')
c = conn.cursor()

c.execute('''CREATE TABLE books
             (title text, author text, year integer)''')

conn.commit()
conn.close()

In [5]:
#5 Read books.csv and insert its data into the book table.
import csv
import sqlite3

conn = sqlite3.connect('books.db')
c = conn.cursor()

with open('books.csv', 'r') as f:
    reader = csv.reader(f)
    next(reader)  # skip header row
    for row in reader:
        c.execute("INSERT INTO books VALUES (?, ?, ?)", row)

conn.commit()
conn.close()

In [6]:
#6 Select and print the title column from the book table in alphabetical order.
import sqlite3

conn = sqlite3.connect('books.db')
c = conn.cursor()

for row in c.execute("SELECT title FROM books ORDER BY title"):
    print(row[0])

conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

In [7]:
#7 From the book table, select and print all columns in the order of publication.
import sqlite3

conn = sqlite3.connect('books.db')
c = conn.cursor()

for row in c.execute("SELECT * FROM books ORDER BY year"):
    print(row)

conn.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

In [8]:
#8
import sqlalchemy

engine = sqlalchemy.create_engine('sqlite:///books.db')
connection = engine.connect()

In [13]:
%pip install redis-server redis

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting redis-server
  Downloading redis_server-6.0.9-202010301343-cp39-cp39-manylinux2010_x86_64.whl (5.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.5/5.5 MB 47.1 MB/s eta 0:00:00
Requirement already satisfied: redis in /usr/local/lib/python3.9/dist-packages (4.5.4)
Requirement already satisfied: async-timeout>=4.0.2 in /usr/local/lib/python3.9/dist-packages (from redis) (4.0.2)
Installing collected packages: redis-server
Successfully installed redis-server-6.0.9

In [14]:
import redis_server
!$redis_server.REDIS_SERVER_PATH --daemonize yes

In [16]:
#9
import redis

r = redis.Redis(host='localhost', port=6379, db=0)
r.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})

# To print all the fields for test
print(r.hgetall('test'))

{b'count': b'1', b'name': b'Fester Bestertester'}

<ipython-input-16-5f2624ea3026>:5: DeprecationWarning: Redis.hmset() is deprecated. Use Redis.hset() instead.
  r.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})

In [17]:
#10
r.hincrby('test', 'count', amount=1)
print(r.hget('test', 'count'))

b'2'