##1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators. * 'hello' -87.8 -/+6. 

##Answer 
*-/+ are expressions.
 
'hello' -87.8 6 are values

##2. What is the difference between string and variable?

## Answer

A Variable is astore of information, and a String is a type of information you would store in a Variable. A String is a group of characters or a single character usually enclosed in Double quotes " " or single quotes ' '

##3. Describe three different data types.

##Answer

int - datatype for integer values

float - is a data type composed of a number that is not an integer, because it includes a fraction represented in decimal format. 

string-  A string is a collection of one or more characters put in a single quote, double-quote or triple quote

##4. What is an expression made up of? What do all expressions do?

##Answer

An expression is a combination of values, variables, operators, and calls to functions. Expressions need to be evaluated. If you ask Python to print an expression, the interpreter evaluates the expression and displays the result.
eg. 4/2 is an expression.

##5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

##Answer

Statements represent an action or command e.g print statements, assignment statements. Expression is a combination of variables, operations and values that yields a result value.

##6. After running the following code, what does the variable bacon contain?
bacon = 22

bacon + 1

##Answer 

22

In [2]:
bacon = 22 # Code execution
bacon + 1
print(bacon)

22

##7. What should the values of the following two terms be?
'spam' + 'spamspam'

'spam' * 3

##Answer

'spamspamspam' in both cases.

In [4]:
'spam' + 'spamspam' # string concatenation

'spamspamspam'

In [5]:
'spam' * 3 #string multiplication

'spamspamspam'

##8. Why is eggs a valid variable name while 100 is invalid?

##Answer

As per python,Variable names cannot begin with a number. The python rules for naming a variable are :-

Variable name must start with a letter or the underscore character.
Variable name cannot start with a number.
Variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, & _ ).
Variable names are case-sensitive.
The reserved words(keywords) cannot be used naming the variable.

In [7]:
eggs=700

In [8]:
100="store"

SyntaxError: ignored

##9. What three functions can be used to get the integer, floating-point number, or string version of a value?

##Answer

The int(),float(),and str() functions will evaluate to the integer,floating-point number,string version of the value passed to them.

In [9]:
# Examples:
print('int(10.0) -> ',int(10.0)) # int() function converts given input to int
print('float(10) -> ',float(10)) # float() function converts given input to float
print('str(10) -> ',str(10)) # str() function converts given input to string

int(10.0) ->  10
float(10) ->  10.0
str(10) ->  10

##10. Why does this expression cause an error? How can you fix it?

'I have eaten ' + 99 + ' burritos.'

##Answer
can only concatenate str (not "int") to str
hence convert 99 to string. as shown below

In [11]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'